<div class="d-flex flex-column gap-2">
    <a href="dev/dashboard">Dashboard</a>
    <a href="/dev/log-items">Log items</a>
    <a href="/dev/failed-log-ins">Failed log ins</a>
    <a href="/dev/diagnostics">Diagnostics</a>
    <a href="/dev/schedule-manager">Schedule manager</a>
    <a href="/dev/net-mail-account" title="Create an account for System.Net.Mail usage">.Net.Mail account</a>
    <a href="/dev/settings">Settings</a>
    <a href="/dev/email-settings">Email settings</a>
    <a href="/dev/stripe-account">Stripe account</a>
    <a href="/dev/features">Features</a>
    <a href="/dev/environment-variables">Environment variables</a>
</div>
