<li>
    <a href="@Fragment">@LinkText</a>
</li>

@code {
    //added

    /*
    * Meant for navigating on the same page. The page this is placed on must inherit from Client.Bases.FragmentNavigationBasePage
    */

    /// <summary>
    /// Required. The Fragment (id of the target elememnt) you want to scroll to. You do not need to include the "#" symbol
    /// </summary>
    [EditorRequired, Parameter] public string Fragment { get; set; }

    /// <summary>
    /// Optional. The text inside the anchor tag. If not supplied, the Fragment parameter will be split by "-", then to propercased.
    /// </summary>
    [Parameter] public string LinkText { get; set; }

    protected override void OnParametersSet()
    {
        string fragment = Fragment;
        if (!fragment.StartsWith("#"))
        {
            Fragment = "#" + Fragment;
        }

        if (string.IsNullOrEmpty(LinkText))
        {
            fragment = fragment.StartsWith("#") ? fragment.Substring(1) : fragment;

            string[] words = fragment.Split("-");

            List<string> result = new(words.Length);

            foreach (var item in words)
            {
                result.Add(item.Substring(0, length: 1).ToUpper() + item.Substring(1));
            }

            LinkText = String.Join(" ", result);
        }

        base.OnParametersSet();
    }
}
