<table cellpadding="6" class="@css mb-3">
    <tr>
        <th colspan="6">@Title</th>
    </tr>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Required?</th>
        <th>Default value</th>
        <th>Description</th>
        <th>Notes</th>
    </tr>
    @ChildContent
</table>

@code {
    //todo remove this

    [EditorRequired, Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public int Indent { get; set; } = 4;
    [Parameter] public string Title { get; set; } = "Parameters";

    string css;
    protected override void OnInitialized()
    {
        css = "ms-" + Indent;
    }
}
