<div class="d-flex justify-content-center">
    <hr style="color: @color; height: @height; width: @width;" />
</div>

@code {
    [Parameter] public string Color { get; set; } = "blue";
    [Parameter] public int Height { get; set; } = 2;
    [Parameter] public int Width { get; set; } = 90;

    string color;
    string height;
    string width;

    protected override void OnParametersSet()
    {
        color = Color;
        height = $"{Height}px";
        width = $"{Width}%";
    }
}
