@page "/membership/forgot-password"
@using AuthTemplateNET7.Client.Components;
@using AuthTemplateNET7.Client.FormComponents
@using AuthTemplateNET7.Shared.Dtos.Membership;
@inject HttpClient client_

<PageTitleAndHeader Title="Forgot password" />

<EditFormWrapper Model="model" OnValidSubmit="validSubmit" DisplaySubmitButton="false">

    <FormFactory Model="model" />

    <div class="bg-success">
        @message
    </div>

    <SubmitButton @ref="submitButton" Text="Send reset email" />

</EditFormWrapper>

@code {
    //added

    string message;
    ForgotPasswordDto model = new();
    [CascadingParameter]public NotificationService notificationService { get; set; }
    SubmitButton submitButton;

    async Task validSubmit()
    {
        submitButton.Disable();

        var response = await client_.PostAsJsonAsync<ForgotPasswordDto>("api/membership/create-reset-token", model);

        if (response.IsSuccessStatusCode)
        {
            message = await response.Content.ReadAsStringAsync();
        }
        else
        {
            await notificationService.NotifyNonSuccessResponseAsync(response);
        }

        submitButton.Enable();
    }
}
