<div class="d-flex flex-column gap-2">
    <a href="admin/contact-messages">Contact messages</a>
    <a href="admin/email-batches">Email batches</a>
    <a href="admin/add-recipients">Add recipient(s)</a>
    <a href="admin/recipients">Recipients</a>
    <a href="admin/settings">Settings</a>
</div>
